* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;800&display=swap');

body {
    background: url(./assets/images/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(275, 100%, 97%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-size: 100%; /*treat SVG images differently, use value of 100% so that it stretches out to the max width while preserving it's aspect ratio*/
}

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 600px;
    /* height: 570px; */
    border-radius: 15px;
    gap: 20px;
    min-height: 570px;
}

.container > * {
    padding: 0 45px;
}

.title {
    display: flex;
    align-items: center;
    height: fit-content;
    margin-top: 40px;
}

.title > img {
    margin-right: 20px
}

h1 {
    font-size: 60px;
    font-weight:700;
}

h4 {
    font-weight: 600;
    font-size: 16px
}

p {
    font-size: 16px;
    color: hsl(292, 16%, 49%);
}

.line-break {
    border: none;
    height: 1px;
    color: silver;
    background-color: silver;
    margin: 0 45px;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    padding-left: 10px;
}

@media screen and (max-width: 375px) {
    body {
        background: url(./assets/images/background-pattern-mobile.svg);
        background-repeat: no-repeat;
        background-color: hsl(275, 100%, 97%);
    }

    .container {
        margin: 20px;
    }

    .container > * {
        padding: 0 30px;
    }

    h1 {
        /* font-weight: 600; */
        font-size: 40px;
    }

    hr {
        margin: 0 30px;
    }

    .title {
        margin-top: 25px;
    }
    .title img {
        margin-right: 5px;
    }

}

@media screen and (min-width: 376px) and (max-width: 1439px){
    .container {
        margin: 40px;
    }

    .container > * {
        padding: 0 30px;
    }

    h1 {
        /* font-weight: 600; */
        font-size: 40px;
    }

    hr {
        margin: 0 30px;
    }

}

.hidden {
    display: none;
}